<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>
<div>
    <div class="jumbotron" style="margin:13%;">
        <div class ="container min-container">
            <h2 class="basic-title">Ocorreu um erro no servidor</h2>
            <div class="well">
                Ops! isso é uma vergonha... mas aconteceu algo de errado no nosso servidor.
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>