<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>
<div>
    <div class="jumbotron" style="margin:13%;">
        <div class ="container min-container">
            <h2 class="basic-title">Opa!</h2>
            <div class="well">
                Faça o login primeiro
            </div>
        </div>
    </div>
</div>

<% include ../partials/footer.ejs %>