<% include partials/head.ejs %>
<% include partials/header.ejs %>
<body>
    <div class="jumbotron" style="margin:13%;">
        <h1 class="text-center title-1"> Bem-vindo ao base project </h1>
        <p class="text-center title-2">Funcionando!</p>
    </div>
</body>
<% include partials/footer.ejs %>