<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>
<body>
    <div class="jumbotron" style="margin:13%;">
        <h1 class="text-center title-1"> Bem vindo usuário </h1>
        <p class="text-center title-2"> Você agora está logado!</p>
    </div>
</body>
<% include ../partials/footer.ejs %>