{% extends "base.html" %}

{% block body %}

<form class="form-signin" role="form" action="{% url 'add_product' %}" method="post">

    {% csrf_token %}

    <h2 class="form-signin-heading">Criar novo produto</h2>

    <input type="text" id="id_name" name="name" class="form-control"
        placeholder="Nome do produto *" required autofocus>

    <input type="date" id="id_expiration" name="expiration" class="form-control"
        placeholder="Expiração *" required >

    <input type="text" id="id_price" name="price" class="form-control"
        placeholder="Preço *" required >

    <select class="form-control" name="category_selected" id="category_selected">
        {% for category in categories %}
            <option value="{{category.id}}">{{category.name}}</option>
        {% endfor %}
    </select>

    <hr />

    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Add product">
        Add product
    </button>

    <hr/>

    {% if form.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{form.non_field_errors}}
        </div>
    {% endif %}

</form>

{% endblock %}