{% extends "base.html" %}

{% block body %}
<div class="col-lg-12">
	<div class="panel panel-default">
		<div class="panel-heading">
			<strong>Todos os Perfis</strong>
		</div>
		{% if products %}
			    <table class="table table-bordered table-hover">
                    <thead>
                        <th>ID</th>
                        <th>Name</th>
                        <th>Expiration</th>
                        <th>Price</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </thead>

                    {% for prd in products %}
                        <tr>
                            <td>{{ prd.id }}</td>
                            <td>{{ prd.name }}</td>
                            <td> {{ prd.expiration }}</td>
                            <td> R${{ prd.price }}</td>
                            <td> {{ prd.category.name }}</td>
                            <td>
                                <a href="{% url 'remove_product' prd.id %}">
                                    <span class="glyphicon glyphicon-trash"/>
                                </a>
                                <a href="{% url 'edit_product' prd.id %}">
                                    <span class="glyphicon glyphicon-pencil"/>
                                </a>
                            </td>
                        </tr>
				    {% endfor %}
                </table>
		{% else %}
			<p>Nenhum produto encontrado</p>
		{% endif %}
	</div>
    <a class="btn btn-primary" href="{% url 'add_product' %}">Novo Produto</a>
</div>
{% endblock %}