<html>
    <head>
        <meta charset="UTF-8">
        <title>Base Project - Node</title>

        <!-- jquery -->
        <script type="text/javascript" src="/js/jquery-3-3-1.js"></script>
        <script type="text/javascript" src="/js/bootstrap.js"></script>
       

        <!-- bootstrap -->
        <link rel="stylesheet" href="/css/bootstrap.css">
        <link rel="stylesheet" href="/css/bootstrap-grid.css">
        <link rel="stylesheet" href="/css/bootstrap-reboot.css">

        <!-- style -->
        <link rel="stylesheet" href="/css/pages/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    </head>
