<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <display-name>JavaCMD for Web</display-name>
    <servlet>
        <servlet-name>SegundoServlet</servlet-name>
        <servlet-class>Servlets.SegundoServlet</servlet-class>
        <init-param>
            <param-name>cidades</param-name>
            <param-value>/Cidades.txt</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-name>SegundoServlet</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>
</web-app>
