<% include ../partials/head.ejs %>
<% include ../partials/header.ejs %>

<body class="text-center">
    <form class="form-signup col-md-3" action='/updatestudent' method="POST">
        <h1 class="h3 mb-3 font-weight-normal">Atualizar informações</h1>
        <div class="form-group">
            <input type="hidden" value="<%= student.id %>" name="studentToEdit"/>
            <input class="form-control" value="<%= student.name %>" type="text" placeholder="Nome" name="name" />
            <input class="form-control" value="<%= student.passportNumber %>" type="text" placeholder="Número do passaporte" name="passportNumber" />
            
        </div>
        <div class="form-group">
            <input class="form-control btn btn-primary" type="submit" value="Salvar Alterações" />
        </div>
    </form>
</body>
<% include ../partials/footer.ejs %>