{% load staticfiles %}
<!DOCTYPE html>
<html lang="pt">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <title>LearnToImplement - Sales</title>
        <link href="{% static "styles/bootstrap.css" %}" rel="stylesheet">
        <link href="{% static "styles/signin.css" %}" rel="stylesheet">
    </head>
    <body>
        <div class="container">
            {% block body %}
            {% endblock %} 
        </div>
        <script src="{% static "scripts/vendor/bootstrap-min.js" %}"></script>
    </body>
</html>