{% extends "base_usuario.html" %}

{% block body %}

    <form class="form-signin" role="form" 
        action="{% url 'login' %}" method="post">

        {% csrf_token %}

        <h2 class="form-signin-heading">Login</h2>

        <input type="text" id="id_username" name="username" class="form-control" 
            placeholder="Nome" required autofocus>

        <input type="password" id="id_password" name="password" class="form-control" 
            placeholder="Senha" required>

        <button class="btn btn-lg btn-primary btn-block" type="submit" value="Login">
            Login
        </button>

        <input type="hidden" name="next" value="{{ next }}" />

        {% if form.errors %}
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                    &times;
                </button>
                Por favor, verifique o Email e/ou Senha informados
            </div>
        {% endif %}

        <a class="btn btn-lg btn-default btn-block" style="margin-top:10px"href="{% url 'register' %}">registre-se</a>
        
    </form>

{% endblock %}