{% extends "base_usuario.html" %}

{% block body %}

<form class="form-signin" role="form" action="{% url 'register' %}" method="post">

    {% csrf_token %}

    <h2 class="form-signin-heading">Crie seu usuário</h2>

    <input type="text" id="id_email" name="email" class="form-control" 
        placeholder="Email *" required autofocus>

    <input type="text" id="id_username" name="username" class="form-control"
        placeholder="username" required >

    <input type="text" id="id_name" name="fullname" class="form-control"
        placeholder="Name *" required >

    <input type="password" id="id_password" name="password" class="form-control"
        placeholder="Password *" required>

    <hr />

    <input type="text" id="id_phone" name="phone" class="form-control"
        placeholder="phone">

    <hr />

    <button class="btn btn-lg btn-primary btn-block" type="submit" value="Register">
        Register
    </button>

    <hr/>

    {% if form.errors %}
        <div class="alert alert-danger">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">
                &times;
            </button>
            {{form.non_field_errors}}
        </div>
    {% endif %}

</form>

{% endblock %}