<!DOCTYPE html>
<html>

<div th:replace="~{base:: head}"></div>


<div th:replace="~{base :: navbar}"></div>

<body class="container">


	<div class="card mt-2">
		<h5 class="card-header">Sobre esse exemplo</h5>
		<img src="images/csm_logo.png" style="margin:20px" width="100">

		<div class="card-body">
			<h5 class="card-title">SpringMVC + Thymeleaf + Spring Data</h5>
			<p class="card-text">Este exemplo foi desenvolvido por Computer
				Science Master</p>
			<a href="https://www.computersciencemaster.com.br"
				class="btn btn-primary">Ir para o site</a>
		</div>
	</div>

</body>
</html>