.produto-thumb{
    width: 20%;
    margin:5px;
    padding:5px;
    border: solid 1px #aaa;
}

.centering{
    margin-left: 10%;
    margin-right: 10%;
}

.preco{
    font-size: 20px;
    font-weight: bold;
    color: #1e7e34;
}

.descricao{
    background-color: #eee;
    max-width: 100%;
    
}

.center{
    text-align: center;
}

.comprar{
    margin-top:10px;
}

.centralizar-pagina{
    margin-top: 30vh;
    margin-left: 40vw;
    margin-right: 40vw;
}

.centralizar-pagina-cadastre-se{
    margin-top: 20vh;
    margin-left: 40vw;
    margin-right: 40vw;
}

.box-produtos{
    margin-top:20px;
    margin-bottom:20px;
}