<% include("../includes/header.ejs") %>
<div>
    <div class ="container min-container">
        <h2 class="basic-title">Essa página não existe</h2>
        <div class="well">
            Navegue pelo menu.
        </div>
    </div>
</div>
<% include("../includes/footer.ejs") %>